@import url('https://fonts.google.com/specimen/Roboto+Flex?vfonly=true&preview.text=Aurora%20Borealis%20&preview.text_type=custom');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto Flex', sans-serif;
    background-color: #bebebe; 
}

/* h1 and navigation when decided on body font size adjust h1 if needed */

header{
    
}

#aurora-main {
    font-size: 3em;
    margin-left: 50px;

}

#navbar {
    float: right;
    list-style-type: none;

}

#aurora-main, #navbar{
    background-color: yellow;
}

#navbar a {
    text-decoration: none;
    color: #033246;
    font-size: 25px;


}

#navbar li {
    float: left;
    margin-right: 50px;

}


/* aurora hero banner */

#aurora-banner-main {
    background: url('../images/p1-aurora-banner1.jpg') no-repeat center center;
    width: 100%;
    height: 500px;
    margin: 80px 0 50px 0;
}


/* main section */

.main-section {

    margin: 100px;
    border: 1px solid grey;
    border-radius: 25px;
    border-color: #033246;
    letter-spacing: 2px;
    padding: 30px;
    display: block;
    text-align: justify;
    font-size: 18px;

}


#first-part {
    height: 300px;
}


#second-part {
    height: 250px;

}

#third-part {
    height: 200px;

}


/* footer */

footer {
    padding: 50px;    
    
}

#social-media {
    list-style-type: none;
    text-align: center;

}

#social-media li {
    display: inline;
    margin: 10%;
}

#social-media i{
    font-size: 25px;
    color: black;
}

#social-media i:hover{
    color: #029d75;
    transition-duration: 1s;
}

/* fun fact page */

#aurora-banner-second{
    background: url('../images/p1-aurora-banner2.jpg') no-repeat center center;
    width: 100%;
    height: 500px;
    margin: 80px 0 50px 0;
}

/* contact form */

#aurora-banner-third{
    background: url('../images/p1-aurora-banner3.jpg') no-repeat center center;
    width: 100%;
    height: 500px;
    margin: 80px 0 50px 0;
}