@import url('https://fonts.google.com/specimen/Roboto+Flex?vfonly=true&preview.text=Aurora%20Borealis%20&preview.text_type=custom');

* {
    margin: 0;
    padding: 0;

}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto Flex', sans-serif;
    background-color: #bebebe;

}

/* header menu */

#header-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    line-height: 50px;
    
}

#header-flex a{
    text-decoration: none;
    color: #081f37;
}

#header-flex a:hover{
    color: #029d75;
    transition-duration: 1.5s;
}

#logo{
    font-size: 50px;
    margin-left: 50px;
}

#navbar{
    display: flex;
    list-style-type: none;
    
}

#navbar a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

#navbar li{
    margin-right: 50px;
}

/* aurora hero banner */

#aurora-banner-main {
    background: url('../images/p1-aurora-banner1.jpg') no-repeat center center;
    width: 100%;
    height: 500px;
    margin: 50px 0 50px 0;

}

/* main section */

.main-section {

    margin: 100px;
    border: 1px solid white;
    border-radius: 25px;
    letter-spacing: 1px;
    padding: 30px;
    display: block;
    text-align: justify;
    font-size: 18px;
    box-shadow: 5px 10px #363636;

}

.video-container {
    display: block;
    text-align: center;
    

}

.youtube-video {
    height: 400px;
    width: 40%;
}

/* footer */

footer {
    padding: 60px;
    display: block;
    text-align: center;
}

/* social media links */

#social-media {
    list-style-type: none;

}

#social-media li {
    display: inline;
    margin: 10%;
}

#social-media i {
    font-size: 25px;
    color: black;
}

#social-media i:hover {
    color: #029d75;
    transition-duration: 1s;
}

/* fun fact page */

#aurora-banner-two {
    background: url('../images/p1-aurora-banner2.jpg') no-repeat center center;
    width: 100%;
    height: 500px;
    margin: 50px 0 50px 0;
}

#introduction {
    margin: 60px;
    border-radius: 25px;
    padding: 30px;
    display: block;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
}

#audio-container {
    width: 70%;
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;

}

.fun-facts {

    margin: 60px;
    border: 1px solid white;
    border-radius: 25px;
    padding: 30px;
    display: block;
    text-align: justify;
    font-size: 18px;
    box-shadow: 5px 10px #363636;
    letter-spacing: 1px;
    

}

h4 {
    text-decoration: underline;
}

#live-cams {
    list-style-type: none;
    line-height: 30px;

}

#live-cams a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

#live-cams a:hover {
    color: #029d75;
    transition-duration: 1s;
}

/* contact page  */

#aurora-banner-three {
    background: url('../images/p1-aurora-banner3.jpg') no-repeat center center;
    width: 100%;
    height: 500px;
    margin: 50px 0 50px 0;
}

#sign-up-intro {
    text-align: center;
    letter-spacing: 1px;
}

#contact-form {
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    margin-left: 25%;
    margin-right: 25%;
    letter-spacing: 1px;

}

legend {
    font-size: 25px;

}

.user-input {
    margin-bottom: 25px;
    font-weight: bold;

}

label {
    display: inline-block;
    width: 100%;
}

input {
    border: 1px solid #029d75;
    height: 50px;
    width: 50%;
    font-weight: bold;

}

textarea {
    width: 50%;
    border: 1px solid #029d75;

}

button {
    font-weight: bold;
    height: 50px;
    width: 50%;
}

button:hover {
    background-color: #029d75;
    transition-duration: 1s;
}

/* thank you page */

#thank-you-container {
    text-align: center;
    padding: 50px 0 60px 0;
    
}

#aurora-banner-four {
    background: url('../images/p1-aurora-banner4.jpg');
    background-position: left bottom;
    width: 100%;
    height: 500px;
    margin: 50px 0 50px 0;
}




/* For large screens and desktops of 1200px and down  

@media screen and (min-width: 1200px){

    #audio-container {
        text-align: center;
        
    }

    #contact-form{
        margin-left: 10%;
        margin-right: 10%;
    }
}
*/

 

 /* Media queries for devices of 600px and down */

@media screen and (max-width: 600px){

    body, html{
        overflow-x: hidden;
    }

    #header-flex{
        text-align: center;
        display: block;

    }

    #logo{
        margin: 0 0 20px 0;
    }
 
    #navbar{
        display: flex;
        
    }

    #navbar li{
        margin: 0 auto;
    }

    .main-section{
        width: 70%;
        text-align: center;
        margin: 0 auto;

    }

    .video-container{
       padding: 20px;
       
    }

    .youtube-video{
        width: 80%;

    }
  
    .main-section{
        margin-bottom: 30px;
        text-align: justify;
       
    }

    footer{
        display: inline;

    }

    #audio-container{
        width: 100%;
        text-align: center;
        margin: 0 auto;
     }
     
     #sound-cloud{
        height: 300px;
     }
     

    .fun-facts{
        letter-spacing: 2px;
        margin: 30px;
        
    }

    #contact-form{
        margin-left: 10%;
        margin-right: 10%;

    }

    #aurora-banner-four{
        background-position: right;
        margin-bottom: 0;
        
    }
}

/* For devices 601px and up */

@media screen and (min-width:601px) {

    body, html{
        overflow-x: hidden;
    }

    #header-flex{
        display: block;
        text-align: center;
    }

    #logo{
        margin: 0 0 20px 0;
    }
 
    #navbar{
        display: flex;
        
    }

    #navbar li{
        margin: 0 auto;
    }
   
    .main-section{
        width: 80%;
        margin: 25px;
        
    }

    .video-container{
        padding: 25px;
    }

    .youtube-video{
        width: 85%;
    }

    footer{
        display: inline;
        padding-bottom: 10px;
        
    }

    #introduction{
        margin: 30px;
        padding: 0;
    }

    #audio-container{
        width: 100%;
        margin: 0 auto;
         
     }

     #sound-cloud{
         height: 300px;
     }

     .fun-facts{
         margin: 30px;
     }

     #contact-form{
         margin: 0 auto;
     }
    
     #aurora-banner-four{
         background-position: right;
         margin-bottom: 0;
     }
}
 
/* For devices 1200px and up */

@media screen and (min-width:1200px){

    #header-flex{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        line-height: 50px;
    }

    #logo{
        margin-left: 30px;
    }

    #navbar li{
        margin-right: 50px;

    }

    .main-section{
        margin: 20px auto;
        
    }

    .video-container{
        display: block;
        text-align: center;
        padding: 30px;
        
    }

    .youtube-video{
        width: 60%;
        
    }

    footer{
        display: inline;
        
    }

    #audio-container{
        width: 70%;
        text-align: center;
        margin-right: 15%;
        margin-left: 15%;
        
    }

    #sound-cloud{
        height: 300px;
    }

    #contact-form{
        padding: 80px;
    }
    
}

